{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <article>
    <h1>Menu item</h1>
    <span>
      <a href="{% url 'home' %}">Home</a> / <a href="{% url 'menu' %}">Menu</a>/
      {{menu_item.name}}
    </span>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
              {% if menu_items|length > 0 %}
              {% for item in menu_items %}
              <div class="column">
                <h2>{{ forloop.counter }}. {{ item.title }}</h2>
                <p>Price: ${{ item.price }}</p>
              </div>
              <div class="column">
                <img src="{% static 'img/restaurant chef C.jpg' %}" />
              </div>
              {% endfor %}
              {% else %}
              <p style="display: block;"> No Menu Items Available </p>
              {% endif %}
      <!--End col-->
      <!--Begin col-->
     
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>
{% endblock %}
